
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgba(227,218, 216, 0.8);
    font-family: 'Montserrat';
}

.bslib-value-box .value-box-value {
    font-size: 1.2rem;
}

h1, .h1 {
    text-align:center;
    padding-top: 2%;
}

#next_update_in {
    padding-top: 10%;
}

/* Prefeito column */

.column-prefeito {
    border: 1px solid #ccc;
}

/* Vereador column */

.column-vereador {
    border: 1px solid #ccc;
}

/* Card Candidato CSS */
.card-candidato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

.card-candidato img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.card-candidato-content {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.card-candidato-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 8px;
    position: relative;
    height: 20px;
}

.progress-bar {
    height: 100%;
    background-color: rgba(136, 136, 196, 1);
    width: 0%;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 20px;
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.elected {
    background-color: green;
}

.not-elected {
    background-color: orange;
}

/* Card secoes */

.card-secoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

.card-secoes-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-secoes-content h3 {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
}

.progress-bar-container-secoes {
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 8px;
    position: relative;
    height: 20px;
}

.progress-bar-secoes {
    height: 100%;
    background-color: rgba(135, 196, 158, 1);
    width: 0%;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 20px;
}
